* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {

    display: flex;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}

.left {
    width: 25vw;
    background-color: black;
    margin-right: 15px;
    height: 750px;
    position: relative;
    flex-shrink: 0;
}


.top {
    background-color: #1f1f1f;
    width: 100%;
    height: 20%;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    filter: invert(1);
    width: 120px;
    margin-bottom: 10px;
}


.top ul {
    list-style: none;
    color: white;
}

.top ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-weight: 500;
    cursor: pointer;
}

.bottom {
    background-color: #171717;
    border-radius: 10px;
    height: 70%;
    padding: 20px;
}

.library {
    display: flex;
    gap: 10px;
}

.library h3 {
    color: white;
    font-weight: 400;
}

.right {
    width: 75vw;
    height: 90vh;
    background-color: black
}

nav {
    background-color: #171717;
    width: 100%;
    height: 9%;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageFlow {
    margin: 0px 20px;
}

.nextPage,
.backPage {
    margin: 5px;
    cursor: pointer;
}

.pageFlow img:hover {
    filter: invert(0.5);
}

nav button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.01rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .signUp {
    background-color: rgb(61, 61, 61);
    color: rgba(255, 255, 255, 0.942);
    text-align: center;
}

nav .signUp:hover {
    background-color: #171717;
    transform: scale(1.05);
}

nav .logIn {
    background-color: white;
    color: black;
    text-align: center;
}

nav .logIn:hover {
    background-color: #909090;
    transform: scale(1.05);
}

.playlist {
    background: #171717;
    width: 100%;
    height: 84%;
    border-radius: 10px 10px 0 0px;
    padding: 20px 30px;
}

.playlist h2 {
    color: white;
    font-weight: 500;
}
.adjd{
    background-color: #b8b8b8;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    margin: 15px 0;
}

/* Scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 5px;
    /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    /* Color of the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners for the thumb */
    border: 3px solid #2e2e2e;
    /* Creates padding around thumb by matching the track color */
}

::-webkit-scrollbar-thumb:hover {
    background: #787878;
    /* Lighter color for the thumb when hovered */
}

/* Scrollbar styles for Firefox */
body {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #5a5a5a #2e2e2e;
    /* Thumb color, Track color */
}


.card {
    background-color: #575757b9;
    width: 180px;
    padding: 10px;
    margin: 25px 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.869);
}

.card img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(20, 20, 20, 0.623);
}

.card h4 {
    color: rgba(255, 255, 255, 0.927);
    font-weight: 400;
    margin: 6px 2px;
}

.card div {
    color: rgba(255, 255, 255, 0.927);
    font-weight: 400;
    font-size: 0.8rem;
}

.playbar {
    width: 100%;
    height: 12%;
    background-color: rgba(157, 157, 157, 0.478);
    border-radius: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 5px;
}
.playButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    align-self: flex-start;
    position: relative;
    left: -40px;
    top: -3px;
}
.playButtons >*{
    filter: drop-shadow(0px 2px 5px #000000d6);
    cursor: pointer;
}
.playButtons >*:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}
.playButtons > *:active{
    transform: scale(0.9);
}
.coverImg{
    width: 125px;
    height: 125px;
}

.songList ul{
    color: white;
    list-style: decimal;
    padding: 20px 8px;
    font-size: 0.85rem;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}
.songList ul li{
    height: 60px;
    margin: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(153, 153, 153, 0.379);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.songList ul li.selected{
    border: 1px solid rgba(190, 190, 190, 0.884);
}
.songCardPlay{
    width: 17px;
    height: 17px;
}
.songInfo{
    width: 150px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.918);
}
.musicIcon{
    background-color: #87145bbc;
    padding: 5px;
    border-radius: 5px;
}
.seekBar{
    background-color: rgb(126, 126, 126);
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}
.seekBarProgress{
    background-color: white;
    width: 0;
    height: 5px;
    border-radius: inherit;
    transition: width 0.5s;
    pointer-events: none;
    cursor: pointer;
}
.circle{
    position: relative;
    top: -10px;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.5s;
    margin-bottom: 0px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);

}

.playbarSongInfo{
    width: 250px;
    padding-left: 20px;
}
.songTime{
    width: 100px;
    padding-right: 20px;
}
.playbarSongInfo, .songTime{
   align-self: center;
   color: white;
   font-weight: 500;
   font-size: 0.85rem;
}
.topPlaybar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media (max-width:890px) {
    .left{
        left: -100%;
    }
    .right{
        width: 90vw;
        margin: auto;
    }
    nav {
        justify-content: space-around;
    }
    .pageFlow{
        margin: 0;
    }
    .playlist{
        padding: 10px 20px;
    }
    .playlist h2{
        font-size: 16px;
    }
    .cardContainer{
        margin: 5px 0px;
    }
    .card{
        background-color: #262626;
        margin: 10px 5px;
        width: 130px;
    }
    .card img{
        width: 110px;
        height: 110px;
    }
    .card h4{
        font-size: 13px;
    }
    .card div{
        font-size: 11px;
    }
    .playbarSongInfo{
        font-size: 1px;
        font-weight: 300;
    }
    .songTime{
        font-size: 15px;
    }


}